.header {
  color: rgb(0, 0, 0);
  border-bottom: 4px;
  background-color: rgb(192, 192, 249);
  height: 100px;
}
ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
}

.left .active {
  color: rgb(123, 234, 142);
}
.middle .active {
  color: rgb(231, 034, 022);
}
.right .active {
  color: rgb(005, 001, 452);
}
